body {
  background-color: #a0d5f0;
  font-family: Helvetica;
  color: #3d5f70;
  text-align: center;
  margin:0;
}
h1 {
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#ver {
  font-size: 30px;
  text-align: right;
  margin-top: -20px;
  margin-bottom: 0px;
  margin-right: 25%;
  color: #A786E9;
}
#i {
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #476D80;
}
.button {
  display: block;
  margin-top: 25px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 42%;
  margin-right: 42%;
  border: 7px solid #3d5f70;
  border-radius: 25px;
  color:#A786E9 ;
  background-color: #F0C4FF;
  overflow: hidden;
}
.button:hover {
  background-color: #A786E9;
  color: #F0C4FF;
}
.button:active {
  background-color: #A786E9;
  color: #F0C4FF;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  height: 0px;
  border: 4px solid #3d5f70;
  border-radius: 25px;
}
h2 {
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #A786E9;
}
.desc{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
  color: #476D80;
}
li{
  list-style: square;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40%;
  margin-right: 15%;
  color: #476D80;
  text-align: left;
}
#note{
  font-size: 25px;
  color: #A786E9;
  margin-left: 13%;
  margin-right: 13%;
}
#list{
  text-align: left;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px;
  color: #476D80;
}
.command{
  color: #A786E9;
}
a{
  color: #A786E9;
  text-decoration:none;
}
.navbar {
  top:0;
  overflow: hidden;
  background-color: #F0C4FF;
  position: sticky;
  display: block;
  height: 50px;
  border-bottom: solid;
  border-width: 5px;
  border-color: #3D5F70;
}

.navbar a {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  float: left;
  display: block;
  color: #3d5f70;
  text-decoration: none;
  height: 50px;
  padding-left:25px;
  padding-right:25px;
}


.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #A786E9;
}

.navbar a.active {
  color: #A786E9;
}
